[submodule "pack/plugins/opt/nerdtree"]
	path = pack/plugins/opt/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugins/opt/vim-dirdiff"]
	path = pack/plugins/opt/vim-dirdiff
	url = git@github.com:will133/vim-dirdiff.git
[submodule "pack/plugins/opt/vim-gutentags"]
	path = pack/plugins/opt/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/plugins/opt/vim-tmux-navigator"]
	path = pack/plugins/opt/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "pack/plugins/start/typst"]
	path = pack/plugins/start/typst
	url = git@github.com:kaarmu/typst.vim.git
[submodule "git@github.com:mbirko/typst.vim.git"]
	url = pack/plugins/start/typst
[submodule "pack/plugins/opt/copilot.vim"]
	path = pack/plugins/opt/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/plugins/opt/fzf.vim"]
	path = pack/plugins/opt/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/plugins/opt/fzf"]
	path = pack/plugins/opt/fzf
	url = git@github.com:junegunn/fzf.git
